<p>follow works!</p>
<!-- <h2>Follow Users</h2>
<div *ngFor="let user of users">
  <p>{{ user.username }}</p>
  <button (click)="followUser(user.id)">Follow</button>
  <button (click)="unfollowUser(user.id)">Unfollow</button>
</div> -->
