div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  img {
    max-width: 100%; 
    height: auto; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  }
  