.card {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4; 
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

.social-media-section {
  background-color: #007BFF; 
  padding: 20px;
  text-align: center;
  color: #fff; 
}

.social-media-heading {
  font-size: 28px;
  margin: 0;
  padding: 10px;
}
