<!-- <p>userdetails works!</p>
<div class="container">
    <h2>User Details</h2>
    <div *ngIf="user">
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
       Add more user details fields as needed -->
    <!-- </div>
  </div> -->
