<!-- 

<div class="post-list">
    <div *ngFor="let post of posts">
      <div class="post">
        
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <img [src]="post.imageURL" alt="Post Image">
        <p>{{ post.date | date }}</p>
       
      </div>
    </div>
  </div>-->
  <ul>
    <li><a routerLink="/create-post">Create New Post here!</a></li>
  </ul>  
  <!-- <div class="container row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
    </div>
    <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">
    </div>
  </div>
  <div class="container row">
    <div class="col-md-12">
      <div *ngIf="retrievedImage">
        <img [src]="retrievedImage">
      </div>
    </div>
  </div> -->





  <!-- <div *ngFor="let allpost of post">
    <img [src]="allpost.filePath" alt="Image" *ngIf="allpost.filePath">
</div> -->
