
body {
    background-color: #f0f0f0; 
    margin: 0; 
    font-family: Arial, sans-serif; 
  }
  
  .post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .post {
    width: calc(33.33% - 20px); 
    padding: 20px;
    margin-bottom: 20px; 
    border: 1px solid #c5b1b1;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    font-size: 1.5em;
    margin: 8px 0;
  }
  
  .post p {
    font-size: 1em;
    color: #333;
  }
  
  .post img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .post p:last-child {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #ff6600;
  }
  