.head{
    display: grid;
    justify-content: center;
}


.head {
    text-align: center; 
    background-color: #528282; 
    padding: 10px;
    color: #fff; 
  }
  
  .profile-content {
    background-color: #f4f4f4; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .list-group-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .list-group-item a.btn {
    color: #007BFF; 
    border: 1px solid #007BFF; 
  }
  
  .list-group-item a.btn:hover {
    background-color: #007BFF; 
    color: #fff; 
  }
  
  .text-center p-3 a {
    color: #007BFF; 
    text-decoration: none; 
    font-weight: bold; 
  }
  
  .text-center p-3 a:hover {
    text-decoration: underline; 
  }
  