



<!-- <div>
  <input type="file" (change)="uploadImageToFile($event)" />
  <button (click)="save()">save</button>
  <button (click)="getImage()">Get Image</button>
  <div *ngIf="imageUrl">
    <img [src]="imageUrl" alt="Uploaded Image" (change)="uploadImageToFile($event)">
  </div>
</div> -->

<form>
  <div class="form-group">
    <input type="file" (change)="uploadImageToFile($event)">
    <input type="button" (click)="save()" value="Upload Image" class="btn1">
</div>
<div>
  <button>
    <img [src]="dbImage" alt="Uploaded Image" (click)="getImage()">
  </button>
 
</div>
</form>









