<!-- <p>user-list works!</p>
<div>
    <h2>User Details</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
   -->
   <!-- <div class="container">
    <h2>User Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    Display more user details as needed
    <button *ngIf="!isFollowing" (click)="followUser()">Follow</button>
  </div> -->
  



  <div class="container">
    <h2>User List</h2>
    <ul>
      <li *ngFor="let user of users">
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
      </li>
    </ul>
  </div>
  