 <!-- <p>user works!</p>
<button (click)="followUser(user)">Follow</button>
<button (click)="unfollowUser(user)">Unfollow</button> -->







<!-- <div class="overall">
    <div class="top container-fluid ">
    <div class="row">
    <div class="col-md-3"><a routerLink="/profile"  >Profile</a></div>
    <div class="col-md-3"><a routerLink="/post" >Post</a></div>
    <div class="col-md-3"><a routerLink="/allpost" >Allpost</a></div>
    <div class="col-md-3"><a routerLink="/user" >User</a></div>
    </div>
    </div>

<div *ngFor="let user of users">
    <div class="user">
      <img [src]="user.avatarUrl" alt="{{ user.username }} Avatar ">
      <h2>{{ user.fullName }}</h2>
      <p>@{{ user.username }}</p>
    </div>
  </div> 







  
  <div class="user-component">
    <h2>User Profile</h2>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
  </div>  -->
  


<!-- 
  <div *ngFor="let user of users">
    <p>{{ user.username }}</p>
  </div> 
    -->


 <!-- <div class="container">
    <h2>Create User</h2>
    <form (ngSubmit)="createUser()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
      <button type="submit" class="btn btn-primary"><a routerLink="/UserList">done</a></button>
    </form>
  </div>   -->









<!-- <div>
  <h2>User Registration</h2>
  <label for="username">Username: </label>
  <input type="text" id="username" [(ngModel)]="user.username">
  <label for="email">Email: </label>
  <input type="text" id="email" [(ngModel)]="user.email">
  <button type="submit" class="btn btn-warning"><a routerLink="/UserList">done</a></button>
</div> -->
<!-- <div class="container">
  <h2>User Registration</h2>
  <form (submit)="createUser()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
    </div>
    Add more user registration fields as needed -->
    <!-- <button type="submit" class="btn btn-primary">done</button>
  </form>
  <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
 -->

 <!-- <div class="container">
  <h2>User Registration</h2>
  <form (submit)="registerUser()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div> -->
