
.overall {
  background-color: #f4f4f4; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(127, 186, 186, 0.1);
}

.container.crt {
  text-align: center;
  padding: 20px;
}

.custom-class {
  font-size: 36px;
  margin-top: 20px;
}

.rounded-circle {
  border: 2px solid #333; 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.btn-success {
  margin-top: 10px;
  background-color: #45867f; 

}

.profile {
  background-color: #45867f; 
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #45867f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(127, 186, 186, 0.1);
}

.profile-header-cover {
  background-color: #e8eff63a; 
  height: 150px;
  border: 1px solid #4d8a8a; 
  

}

.profile-header-content {
  text-align: center;
  margin-top: -100px;
}

.profile-header-tab {
  text-align: center;
}

.nav-field {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.nav-value {
  font-size: 24px;
  margin-top: 10px;
  color: #fff;
}
.overall {
  background-color: #f4f4f4; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top {
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.col-md-3 {
  flex: 0 0 23%; 
  text-align: center;
}

.col-md-3 a {
  text-decoration: none;
  color: #333; 
  font-weight: bold;
  padding: 10px 0;
  display: block;
}

.col-md-3 a:hover {
  text-decoration: underline;
}



.top {
  background-color: #45867f; 
  padding: 10px; 
  border-bottom: 2px solid #94d9d2; 
  box-shadow:0 5px 5px #78b1ab ;
}

.top a {
  text-decoration: none; 
  color: #fff; 
  margin: 0 10px; 
  font-weight: bold; 
  padding: 10px 20px; 
  border: 1px solid #45867f; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.top a:hover {
  background-color:#abd8d3; 
  color: #333333d5;
}




.nav-link.active {
  background-color: #f1f4f83a; 
  color: #fff; 
  border: 2px solid #e8eff63a;
  border-radius: 5px; 
  padding: 5px 15px; 
  font-weight: bold; 
}

.nav-link.active:hover {
  background-color: #e8eff63a; 
  border: 2px solid #5482823a; 
}
