 

<div class="overall">
<div class="top container-fluid ">
<div class="row">
<div class="col-md-3"><a routerLink="/profile"  >Profile</a></div>
<div class="col-md-3"><a routerLink="/post" >Post</a></div>
<div class="col-md-3"><a routerLink="/allpost" >Allpost</a></div>
<div class="col-md-3"><a routerLink="/user" >User</a></div>
</div>
</div>




  <div class="container crt">
  <h1 class="display-1 text-center custom-class">My Profile</h1>
    <!-- <img class="rounded-circle"  [src]="dbImage" alt="Uploaded Image" (click)="getImage()" >
    <input type="file" class="btn btn-success btn-sm" (change)="selectFiles($event)">
    <input type="button" (click)="save()" value="Upload Image" class="btn1"> -->

    <form>
        <div class="form-group">
          <input type="file" (change)="uploadImageToFile($event)">
          <input type="button" (click)="save()" value="Upload Image" class="btn1">
      </div>
      <div>
        <button>
          <img [src]="dbImage" alt="Uploaded Image" (click)="getImage()">
        </button>
       
      </div>
      
    
      </form>

</div>

  
  

   
<div class="container-fluid add">
<div class="profile ">
  <div class="profile-header">
      <div class="profile-header-cover"></div>
      <div class="profile-header-content">
          
          <ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
              <li class="nav-item row col-lg-4">
                  <a routerLink="/post" class="nav-link active" data-toggle="tab">
                      <div class="nav-field">Posts</div>
                      <div class="nav-value">382</div>
                  </a>
              </li>
              <li class="nav-item row col-lg-4">
                  <a routerLink="/followers" class="nav-link " data-toggle="tab">
                      <div class="nav-field">Followers</div>
                      <div class="nav-value">1.3m</div>
                  </a>
              </li>
              
              <li class="nav-item row col-lg-4">
                  <a routerLink="/following" class="nav-link " data-toggle="tab">
                      <div class="nav-field">Following</div>
                      <div class="nav-value">2,592</div>
                  </a>
              </li>
          </ul>
      </div>
</div>
</div>

</div>
</div>