/* .button{
    display:grid;
    align-content: center;
    justify-content: center;
    display: flex;
   padding-top: 45vh;
   
}
.a1{
 
} */
.box{
    background-color: rgb(210, 245, 247);
  display: grid;
  justify-content: center;
 
 width: 300px;
border: 10px solid rgb(127, 169, 221);
padding: 50px;
margin: 20px;
  
}
